<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Kurs Vue.js - Przykład 29</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/spectre.css/0.5.0/spectre.min.css">
    <style>
        .container {
            margin-top: 100px;
            margin-bottom: 100px;
        }

        [v-cloak] {
            display: none;
        }
    </style>
</head>
<body>

    <div class="container grid-lg">

        <div id="app" v-cloak>

            <h1>Użytkownicy</h1>

            <table class="table table-striped table-hover">
                <thead>
                    <tr>
                        <th>Lp.</th>
                        <th>Imię i nazwisko</th>
                        <th>Data urodzenia</th>
                    </tr>
                </thead>
                <tbody>
                    <tr v-for="(user, index) in users">
                        <td>{{ index + 1 }}.</td>
                        <td>{{ user.firstName }} {{ user.lastName }}</td>
                        <td>{{ user.birthdate | date('D-M-YYYY') }}</td>
                    </tr>
                </tbody>
            </table>

        </div>

    </div>

<script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.20.1/moment.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/vue/2.5.13/vue.js"></script>
<script>

    // Vue.filter("date", function(value) {
    //     return moment(value).format("D/M/YYYY");
    // })

    new Vue({
        el: "#app",
        data: {
            users: [
                {firstName: "Jan", lastName: "Kowalski", birthdate: "1990-03-21T00:00:00.000Z"},
                {firstName: "Anna", lastName: "Nowak", birthdate: "1987-02-22T00:00:00.000Z"},
                {firstName: "Tomasz", lastName: "Zielony", birthdate: "1974-12-02T00:00:00.000Z"},
                {firstName: "Katarzyna", lastName: "Tomczyk", birthdate: "1979-06-13T00:00:00.000Z"},
                {firstName: "Mariusz", lastName: "Klasa", birthdate: "1981-10-22T00:00:00.000Z"}
            ]
        },
        filters: {
            date: function(value, format) {
                return moment(value).format(format || "D/M/YYYY");
            }
        }
    });

</script>
</body>
</html>